<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo
http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!--消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->
	<dubbo:application name="demo-consumer"/>

	<!--zookeeper注册中心 -->
	<dubbo:registry  protocol="zookeeper" address="192.168.15.225:2181" timeout="60000"/>

	<!--关闭服务消费方所有服务的启动检查。dubbo缺省会在启动时检查依赖的服务是否可用，不可用时会抛出异常，阻止Spring初始化完成。-->
	<dubbo:consumer check="false" />
	

	<!-- ******************************用户管理****************************** -->
	<!-- 账户管理 -->
	<dubbo:reference id="remoteUserAccountService" interface="com.rwj.api.RemoteUserAccountServiceccbbdf"/>
</beans>